:root {
  font-size: $default-text-size;
}

body {
  line-height: 1.5;
  font-family: 'Space Mono', sans-serif;
  // font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;

  .display-panel {
    //label
    &__label {
      font-weight: 700;
      &--text {
        font-size: 1.4rem;
        color: $color-neutral-white;
        line-height: 1.3;
        @include respond(770) {
          font-size: 1.2rem;
        }
        @include respond(375) {
          font-size: 1rem;
        }
      }
      &--common {
        font-size: 1.3rem;
        color: $color-primary-strong-cyan;
        line-height: 1.3;
        @include respond(770) {
          font-size: 1.1rem;
        }
        @include respond(375) {
          font-size: 1rem;
        }
      }
    }

    //output
    &__output {
      font-weight: 700;
      line-height: 1.2;
      font-size: 4.5rem;
      color: $color-primary-strong-cyan;
      & span {
        font-size: 5rem;
        @include respond(770) {
          font-size: 3.3rem;
        }
        @include respond(400) {
          font-size: 2.8rem;
        }
        @include respond(340) {
          font-size: 2.3rem;
        }
      }

      @include respond(770) {
        font-size: 3.2rem;
      }
      @include respond(400) {
        font-size: 2.7rem;
      }
      @include respond(340) {
        font-size: 2.1rem;
      }
    }
  }

  .user-input {
    &__label {
      color: $color-neutral-darker-grayish-cyan;
      font-size: 1.7rem;
      font-weight: 700;
      @include respond(770) {
        font-size: 1.4rem;
      }
    }

    &__field {
      font-family: inherit;
      font-size: inherit;
      color: $color-neutral-very-dark-cyan;
      font-weight: 700;
      text-align: right;

      & + .invalid-value {
        font-size: 1.2rem;
        color: rgba(241, 59, 13, 0.89);
        font-weight: 700;
        @include respond(770) {
          font-size: 1.1rem;
        }
      }

      &::placeholder {
        color: rgba($color-neutral-very-dark-cyan, 0.5);
        font-size: 2rem;
      }

      &--custom-tip {
        &::placeholder {
          text-align: center;
          @include respond(900) {
            font-size: 1.4rem;
          }
          @include respond(750) {
            font-size: 1.1rem;
          }
        }
      }

      @include respond(770) {
        font-size: 1.6rem;
      }
    }
  }

  .btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;

    &-tip-selector {
      color: $color-neutral-white;
      &:hover {
        color: $color-neutral-very-dark-cyan;
      }

      &.selected {
        color: $color-neutral-very-dark-cyan;
      }
    }

    &-reset {
      color: $color-neutral-very-dark-cyan;
      text-transform: uppercase;
    }

    @include respond(770) {
      font-size: 1.6rem;
    }
  }

  .tip-selector {
    .btn-tip-selector {
    }
  }
}
