///////////////////////////////////////////////////////////
////        MAIN CONTAINER
.container {
  padding: 5vh 0;
  @include respond(1440) {
    padding: 0;
  }
}

///////////////////////////////////////////////////////////
////        COMPONENT
.component {
  max-width: $main-component-max-width-desktop;
  height: $main-component-max-height-desktop;
  // height: 100%;
  background-color: $color-neutral-lighter-grayish-cyan;
  @include margin-centralize;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  @include respond(950) {
    padding: 0 2rem;
  }
  @include respond(770) {
    height: $main-component-max-height-desktop - 25;
  }
  @include respond(680) {
    height: $main-component-max-height-desktop;
  }
}

///////////////////////////////////////////////////////////
////        LOGO
.svg__logo {
  width: 9rem;
  height: 6rem;
  margin-bottom: -10rem;
  @include respond(770) {
    margin-bottom: -3rem;
  }
}

///////////////////////////////////////////////////////////
////        APP
.app {
  max-width: $content-max-width-desktop;
  @include margin-centralize;
  background-color: $color-neutral-white;
  border-radius: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between;

  @include respond(680) {
    max-width: $content-max-width-mobile;
    flex-direction: column;
    // height: 75%;
  }
  @include respond(375) {
    padding: 1.5rem;
  }
}

///////////////////////////////////////////////////////////
////        CALCULATOR VIEW
.calculator-view {
  padding: 1rem;
  flex: 0 0 48.5%;

  .bill-section,
  .tip-section {
    margin-bottom: 2.5rem;
  }

  @include respond(680) {
    margin-bottom: 2.5rem;
  }
}

///////////////////////////////////////////////////////////
////        Tip Selector View
.tip-selector-view {
  .tips-wrapper {
    // height: 13rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    @include respond(770) {
      // height: 10rem;
    }
  }

  .tip-selector {
    flex: 0 0 30%;
    margin-bottom: 2rem;

    @include respond(680) {
      flex: 0 0 45%;
    }
  }
}
