* {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

body {
  line-height: 1.6;
  font-family: 'Space Mono', sans-serif;
  font-size: 2.4rem; }

.container {
  padding: 5vh 0; }
  @media only screen and (max-width: 90em) {
    .container {
      padding: 0; } }
