* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

:root {
  font-size: 62.5%; }

body {
  line-height: 1.5;
  font-family: 'Space Mono', sans-serif;
  font-size: 2.4rem; }
  body .display-panel__label {
    font-weight: 700; }
    body .display-panel__label--text {
      font-size: 1.4rem;
      color: white;
      line-height: 1.3; }
      @media only screen and (max-width: 48.125em) {
        body .display-panel__label--text {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 23.4375em) {
        body .display-panel__label--text {
          font-size: 1rem; } }
    body .display-panel__label--common {
      font-size: 1.3rem;
      color: #26c0ab;
      line-height: 1.3; }
      @media only screen and (max-width: 48.125em) {
        body .display-panel__label--common {
          font-size: 1.1rem; } }
      @media only screen and (max-width: 23.4375em) {
        body .display-panel__label--common {
          font-size: 1rem; } }
  body .display-panel__output {
    font-weight: 700;
    line-height: 1.2;
    font-size: 4.5rem;
    color: #26c0ab; }
    body .display-panel__output span {
      font-size: 5rem; }
      @media only screen and (max-width: 48.125em) {
        body .display-panel__output span {
          font-size: 3.3rem; } }
      @media only screen and (max-width: 25em) {
        body .display-panel__output span {
          font-size: 2.8rem; } }
      @media only screen and (max-width: 21.25em) {
        body .display-panel__output span {
          font-size: 2.3rem; } }
    @media only screen and (max-width: 48.125em) {
      body .display-panel__output {
        font-size: 3.2rem; } }
    @media only screen and (max-width: 25em) {
      body .display-panel__output {
        font-size: 2.7rem; } }
    @media only screen and (max-width: 21.25em) {
      body .display-panel__output {
        font-size: 2.1rem; } }
  body .user-input__label {
    color: #5e7a7d;
    font-size: 1.7rem;
    font-weight: 700; }
    @media only screen and (max-width: 48.125em) {
      body .user-input__label {
        font-size: 1.4rem; } }
  body .user-input__field {
    font-family: inherit;
    font-size: inherit;
    color: #00494d;
    font-weight: 700;
    text-align: right; }
    body .user-input__field + .invalid-value {
      font-size: 1.2rem;
      color: rgba(241, 59, 13, 0.89);
      font-weight: 700; }
      @media only screen and (max-width: 48.125em) {
        body .user-input__field + .invalid-value {
          font-size: 1.1rem; } }
    body .user-input__field::placeholder {
      color: rgba(0, 73, 77, 0.5);
      font-size: 2rem; }
    body .user-input__field--custom-tip::placeholder {
      text-align: center; }
      @media only screen and (max-width: 56.25em) {
        body .user-input__field--custom-tip::placeholder {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 46.875em) {
        body .user-input__field--custom-tip::placeholder {
          font-size: 1.1rem; } }
    @media only screen and (max-width: 48.125em) {
      body .user-input__field {
        font-size: 1.6rem; } }
  body .btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700; }
    body .btn-tip-selector {
      color: white; }
      body .btn-tip-selector:hover {
        color: #00494d; }
      body .btn-tip-selector.selected {
        color: #00494d; }
    body .btn-reset {
      color: #00494d;
      text-transform: uppercase; }
    @media only screen and (max-width: 48.125em) {
      body .btn {
        font-size: 1.6rem; } }

.btn {
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem 0;
  width: 100%;
  cursor: pointer; }

.btn-tip-selector {
  background-color: #00494d; }
  .btn-tip-selector:hover {
    background-color: #c5e4e7; }
  .btn-tip-selector.selected {
    background-color: #26c0ab; }

.btn-reset {
  background-color: #26c0ab; }
  .btn-reset:hover {
    background-color: #c5e4e7; }
  .btn-reset.inactive {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: auto; }

.display-panel-view {
  background-color: #00494d;
  flex: 0 0 48.5%;
  border-radius: 1.6rem; }
  @media only screen and (max-width: 42.5em) {
    .display-panel-view {
      flex: 1; } }

.display-panel-content {
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column; }
  @media only screen and (max-width: 42.5em) {
    .display-panel-content {
      padding: 2.5rem; } }

.panels {
  margin-bottom: auto; }
  @media only screen and (max-width: 42.5em) {
    .panels {
      margin-bottom: 4rem; } }

.display-panel {
  display: flex;
  align-items: center; }
  .display-panel:not(:last-child) {
    margin-bottom: 2.5rem; }
  .display-panel__label {
    margin-right: auto; }

.user-input--wrapper {
  position: relative; }

.user-input__field {
  border: 0.2rem solid transparent;
  background-color: #f4fafa;
  border-radius: 0.5rem;
  padding: 0.8rem 1.5rem;
  transition: all 0.4s;
  width: 100%; }
  .user-input__field:focus {
    outline: none;
    border: 0.2rem solid #26c0ab; }
  .user-input__field.invalid {
    border: 0.2rem solid rgba(241, 59, 13, 0.89); }
  .user-input__field + .invalid-value {
    position: absolute;
    top: -1.5rem;
    right: 0; }
    @media only screen and (max-width: 23.4375em) {
      .user-input__field + .invalid-value {
        top: 100%; } }
  .user-input__field--custom-tip + .invalid-value {
    display: none; }

.icon__svg {
  width: 1.55rem;
  height: 1.55rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  transform: translateY(-50%); }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.container {
  padding: 5vh 0; }
  @media only screen and (max-width: 90em) {
    .container {
      padding: 0; } }

.component {
  max-width: 144rem;
  height: 102.4rem;
  background-color: #c5e4e7;
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media only screen and (max-width: 59.375em) {
    .component {
      padding: 0 2rem; } }
  @media only screen and (max-width: 48.125em) {
    .component {
      height: 77.4rem; } }
  @media only screen and (max-width: 42.5em) {
    .component {
      height: 102.4rem; } }

.svg__logo {
  width: 9rem;
  height: 6rem;
  margin-bottom: -10rem; }
  @media only screen and (max-width: 48.125em) {
    .svg__logo {
      margin-bottom: -3rem; } }

.app {
  max-width: 92rem;
  margin: 0rem auto;
  background-color: white;
  border-radius: 2rem;
  padding: 3rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 42.5em) {
    .app {
      max-width: 40rem;
      flex-direction: column; } }
  @media only screen and (max-width: 23.4375em) {
    .app {
      padding: 1.5rem; } }

.calculator-view {
  padding: 1rem;
  flex: 0 0 48.5%; }
  .calculator-view .bill-section,
  .calculator-view .tip-section {
    margin-bottom: 2.5rem; }
  @media only screen and (max-width: 42.5em) {
    .calculator-view {
      margin-bottom: 2.5rem; } }

.tip-selector-view .tips-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between; }

.tip-selector-view .tip-selector {
  flex: 0 0 30%;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 42.5em) {
    .tip-selector-view .tip-selector {
      flex: 0 0 45%; } }
